# Python
__pycache__/
*.pyc
*.pyo

# Temp / backup files
*.backup
*.odt
*.odt#
.~lock.*

# Environments
backend/venv/
backend/backend_venv
Machine_Learning_Algo/ML_venv/
Machine_Learning_Algo/venv

# Secrets
backend/.env
backend/WEB_CLIENT_OAUTH_SECRET.json
backend/app/core/credentials.json
trial1/.env
trial1/client_secret_551724754459-qa0mnvf692mj8s9gkmu6n7otjfslbtuo.apps.googleusercontent.com.json
secrets/
secrets.rar
secrets.tar
secrets.tar.gz
# IDE
.idea/
.vscode/
*.swp

# Machine_Learning_Algo
Machine_Learning_Algo/__pycache__/
