# Python
__pycache__/
*.pyc
*.pyo

# Temp / backup files
*.backup
*.odt
*.odt#
.~lock.*

# Environments
backend/venv/
backend/backend_venv
Machine_Learning_Algo/ML_venv/
Machine_Learning_Algo/venv

# Secrets
backend/.env
backend/.env.dev
backend/.env.prod
backend/.env.staging
backend/WEB_CLIENT_OAUTH_SECRET.json
backend/app/core/credentials.json
backend/credentials.json
trial1/.env
trial1/assets/env_config
trial1/client_secret_551724754459-qa0mnvf692mj8s9gkmu6n7otjfslbtuo.apps.googleusercontent.com.json
secrets/
secrets.rar
secrets.tar
secrets.tar.gz
# IDE
.idea/
.vscode/
*.swp

# Machine_Learning_Algo
Machine_Learning_Algo/__pycache__/

# Local env + dev tools
/backend/.env.dev
/backend/.env.prod
/trial1/devtools_options.yaml
/web/node_modules/
/web/.next/
/web/.env.local
/web/out/
/web/dist/
/web/build/
#we only need trial1 as reference so it shouldnt be present in source code, and it will be removed soon
trial1/* 
tutorials/*
data/*